<h2>Relatórios</h2>

<ul class="list-group">
    <li class="list-group-item"><a href="@Url.Action("MinhasCriacoes","Painel")">Animais Adquiridos</a></li>
    <li class="list-group-item"><a>Animais Vendidos</a></li>
    <li class="list-group-item"><a href="@Url.Action("EstoqueVacinas","Painel")">Estoque de Vacinas</a></li>
    <li class="list-group-item"><a href="@Url.Action("Fornecedores","Painel")">Fornecedores</a></li>
</ul>