
<div class="" >
    <h1>Bem vindo ao gerenciador de Controle Rural</h1>
    <p>Software para controle de compra e venda de animais e suprimentos destinados a propriedades rurais</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Login","Home")" role="button">Entrar</a></p> ou
    <p><a class="btn btn-warning btn-lg" href="@Url.Action("RegistrarUsuario","Home")" role="button">Registrar-se</a></p>
</div>

