
<h2 class="headers">Login</h2>

<form action="" method="POST">
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="Senha">Senha</label>
        <input type="password" class="form-control" id="Senha" name="Senha" placeholder="Digite sua senha aqui">
    </div>

    <button type="submit" class="btn btn-success">Logar</button>
</form>